body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e; /* dark page background */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  
}

h2 {
  margin-bottom: 1rem;
  border: 1mm black;
  background-color: #fff;
}

.p {
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
}

.class1 + .class1{
  margin-top: 1rem;
}

section {
  width: 500px;
  border: 1px solid #ccc;
  padding: 1rem;
  background: #fff;
}

section h3 {
  margin-top: 0;
}

section p {
  margin: 0.5rem 0 0;
}
h1{
  border: solid black 2px;
  background-color: white;
  text-align: center;
  text-size-adjust: 20px;

}